h1{
    align-items: center;
    align-self: center;
}

.div1{
    border: 5px ;
    background-color:bisque;    
    text-align: center;
    padding: 20px;
    border-width: 12px;
    border-color: lightblue;
    border-radius: 10px;
    
    margin: 10px;

}

.s1,.s3{
    border: 5px ;
    background-color:green;    
    text-align: center;
    padding: 20px;
    
    border-width: 12px;
    border-color: lightblue;
    border-radius: 10px;
    margin: 10px;
}
.s2{
    border: 5px ;
    background-color:lightsalmon;    
    text-align: center;
    flex-grow: 8;
    padding: 20px;
    
    border-width: 12px;
    border-color: lightblue;
    border-radius: 10px;
     
}
.div3{
    border: 5px ;
    background-color:grey;    
    text-align: center;
    padding: 20px;
    border-width: 12px;
    border-color: lightblue;
    border-radius: 10px;
}
.sub-class{
    display: flex;
    flex-direction: row;
    margin: 10px;
    
}

 
@media screen and (max-width: 600px){
    .sub-class{
        display: flex;
        flex-direction: column;
        margin: 10px;
        
    }
    .s3{
        border: 5px ;
        background-color:green;    
        text-align: center;
        padding: 20px;
        
        border-width: 12px;
        border-color: lightblue;
        border-radius: 10px;
        margin: 10px;
    }
    .s2{
        border: 5px ;
        background-color:lightsalmon;    
        text-align: center;
        flex-grow: 10;
        padding: 20px;
       
        border-width: 12px;
        border-color: lightblue;
        border-radius: 10px;
         
    }
    .s1{
        display: none;
    }

}